<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- Import Bootstrap Icons -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">

    <!-- Import Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Import CSS -->
    <link rel="stylesheet" href="static/style_dashboard.css">

    <title>Topraja | Dashboard Admin</title>
</head>
<script>
    function to_dashboard() {
        window.location.href = "/dashboard";
    }
    function to_tabelproduk() {
        window.location.href = "/tabel_produk";
    }
    function to_tabeluser() {
        window.location.href = "/tabel_user";
    }
    function to_tabelfeedback() {
        window.location.href = "/tabel_feedback";
    }

    // Changed soon
    function to_addadminpage() {
        window.location.href = "/add_admin";
    }
    function to_addprodukpage() {
        window.location.href = "/add_produk";
    }

    function to_homepage() {
        window.location.href = "/";
    }
</script>

<body>

    <!-- Start Sidebar Section -->
    <div class="sidebar">
        <nav class="nav flex-column">
            <a href="#" onclick="to_dashboard()" class="nav-link">
                <span class="icon">
                    <i class="bi bi-grid"></i> <!-- This is the grid icon -->
                </span>
                <span class="description">Dashboard</span>
            </a>
            <a href="#" onclick="to_tabelproduk()" class="nav-link">
                <span class="icon">
                    <i class="bi bi-bag"></i> <!-- This is the grid icon -->
                </span>
                <span class="description">Produk</span>
            </a>
            <a href="#" onclick="to_tabeluser()" class="nav-link">
                <span class="icon">
                    <i class="bi bi-person"></i>
                </span>
                <span class="description">Users</span>
            </a>
            <a href="#" onclick="to_tabelfeedback()" class="nav-link">
                <span class="icon">
                    <i class="bi bi-envelope"></i>
                </span>
                <span class="description">Feedback</span>
            </a>
            <hr>
            <a href="#" onclick="to_addprodukpage()" class="nav-link">
                <span class="icon">
                    <i class="bi bi-plus-circle"></i>
                </span>
                <span class="description">Tambah Produk</span>
            </a>
            <a href="javascript:void(0);" onclick="to_addadminpage()" class="nav-link">
                <span class="icon">
                    <i class="bi bi-person-plus"></i>
                </span>
                <span class="description">Tambah User</span>
            </a>
            <hr>
            <!-- Sidebar Dropdown -->
            <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false"
                aria-controls="submenu">
                <span class="icon">
                    <i class="bi bi-person-circle"></i>
                </span>
                <span class="description">Akun <i class="bi bi-caret-down"></i></span>
            </a>
            <!-- Sidebar Submenu -->
            <div class="sub-menu collapse" id="submenu">
                <a href="#" class="nav-link">
                    <span class="icon"><i class="bi bi-person-bounding-box"></i></span>
                    <span class="description">Profil</span>
                </a>
                <a href="#" onclick="to_homepage()" class="nav-link">
                    <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                    <span class="description">Logout</span>
                </a>
            </div>
        </nav>
    </div>

    <div class="main-content">
        <h3>Halo, (...) Selamat Datang di Halaman Dashboard Admin</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <!-- Start Card Section -->
        <div class="card-container">
            <!-- Card 1 -->
            <a href="#" onclick="to_tabelproduk()" class="card">
                <div class="card-body">
                    <h2 class="card-title">Halaman Manajemen Produk</h2>
                    <p class="card-text">Lihat dan edit data produk di sini.</p>
                </div>
            </a>
            <!-- Card 2 -->
            <a href="#" onclick="to_tabeluser()" class="card">
                <div class="card-body">
                    <h2 class="card-title">Halaman Manajemen User</h2>
                    <p class="card-text">Lihat dan edit data user di sini.</p>
                </div>
            </a>
            <!-- Card 3 -->
            <a href="#" onclick="to_tabelfeedback()" class="card">
                <div class="card-body">
                    <h2 class="card-title">Halaman Manajemen Feedback</h2>
                    <p class="card-text">Lihat dan edit data feedback user di sini.</p>
                </div>
            </a>
        </div>
        <!-- Horizontal Line -->
        <hr class="line-below-cards">
        <!-- Additional Cards -->
        <div class="card-container">
            <!-- Card 1 -->
            <a href="#" class="card">
                <div class="card-body">
                    <h2 class="card-title">Halaman Tambah Produk</h2>
                    <p class="card-text">Tambah produk baru di sini.</p>
                </div>
            </a>
            <!-- Card 2 -->
            <a href="#" class="card">
                <div class="card-body">
                    <h2 class="card-title">Halaman Tambah User Admin</h2>
                    <p class="card-text">Tambah user Admin baru di sini.</p>
                </div>
            </a>
        </div>
    </div>

    <!-- Import Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>